In [ ]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]

In [ ]:
for school in high_schools:
    print(school)

In [ ]:
# A dictionary of High schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type": "District"},
                     {"High School": "Figueroa", "Type": "District"},
                     {"High School": "Wilson", "Type": "Charter"},
                     {"High School": "Wright", "Type": "Charter"}]

In [ ]:
len(high_school_types)

In [ ]:
for schoolDict in high_school_types:
    print(schoolDict)

In [ ]:
high_schools = ["Huag High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School", "Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wrigh High School", "Rodriguez high Scholl", "Jhonson High School","Ford High School", "Thomas High School"]

In [ ]:
high_schools
#len(high_schools)

In [ ]:
import pandas as pd

In [ ]:
# Create a Pandas Series from a list
school_series = pd.Series(high_schools)

In [ ]:
school_series

In [ ]:
for school in school_series:
    print(school)

In [ ]:
school_id=[0,1,2,3,4]

In [ ]:
school_id

In [ ]:
school_name=["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

In [ ]:
school_name

In [ ]:
type_of_school=["District", "District", "Charter", "District","Charter"]

In [ ]:
#List of dictionaries
high_school_dicts = [{"School ID":0, "school name":"Huang High School","type":"District"},
                     {"School ID":1, "school_name":"Figueroa High School","type":"Distrcit"},
                     {"School ID":2, "school_name":"Shelton High School","type":"Charter"},
                     {"School ID":3, "school_name":"Hernandez High School","type":"District"},
                     {"School ID":4, "school name":"Griffin High School",'type':"Charter"}]

In [ ]:
# Una lista de listas, no se para que pueden servir.
high_school_dicts2 = [school_id,school_name]
high_school_dicts2
high_school_dicts2DF = pd.DataFrame(high_school_dicts2)
high_school_dicts2DF

In [ ]:
high_school_dicts2 #Podriamos decir que al convertir una lista de listas a un data frame, inserta row by row

In [ ]:
high_school_dicts

In [ ]:
school_df = pd.DataFrame(high_school_dicts)

In [ ]:
school_df
len(school_df)

In [ ]:
#Creating a **Data Frame adding the list to the Data Frame**

In [ ]:
school_id = [0,1,2,3,4]
school_name = ["Huang High School","Figueroa High School","Shelton High School","Hernandez High School","Griffin High School"]
type_of_school = ["District", "District", "Charter", "District","Charter"]

In [ ]:
# Initialize a new DataFrame
schools_df = pd.DataFrame()

In [ ]:
# Add the lists to the new DataFrame,  One is the Tittle of the row and the other the name of the list
schools_df["School ID"] = school_id
schools_df["school_name"] = school_name
schools_df["type"] = type_of_school

In [ ]:
# Another way to create a  Python dictionary from the tree lists
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name': school_name, 'type':type_of_school}

In [ ]:
high_schools_dict

In [ ]:
# Analysing the COLUMNS, INDEX AND VALUES attributes

In [ ]:
# COLUMNS ATTRIBUTE   df.columns
school_df.columns

In [ ]:
# INDEX ATTRIBUTE    df.index
school_df.index

In [ ]:
# VALUES ATTRIBUTE   df.values
school_df.values

In [ ]:
# Now we convert the python dictionary to a Data Frame

In [ ]:
# **Creating lists and Adding to a DATA FRAME. CANVAS EXERCISE 4.3.5**

In [46]:
school_id = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]
school_id

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [47]:
school_name = ['Huang High School',
  'Figueroa High School',
  'Shelton High School',
  'Hernandez High School',
  'Griffin High School',
  'Wilson High School',
  'Cabrera High School',
  'Bailey High School',
  'Holden High School',
  'Pena High School', 
  'Wright High School',
  'Rodriguez High School',
  'Jhonson High School',
  'Ford High School',
  'Thomas High School']
school_name

['Huang High School',
 'Figueroa High School',
 'Shelton High School',
 'Hernandez High School',
 'Griffin High School',
 'Wilson High School',
 'Cabrera High School',
 'Bailey High School',
 'Holden High School',
 'Pena High School',
 'Wright High School',
 'Rodriguez High School',
 'Jhonson High School',
 'Ford High School',
 'Thomas High School']

In [48]:
type_of_school = ['District', 'District', 'Charter', 'District', 'Charter','Charter','Charter','District','Charter','Charter','Charter','District','District','District','Charter']

In [49]:
schools_df2 = pd.DataFrame()

In [50]:
schools_df2['School ID'] = school_id
schools_df2['school_name'] = school_name
schools_df2['type'] = type_of_school

In [51]:
schools_df2

    School ID            school_name      type
0           0      Huang High School  District
1           1   Figueroa High School  District
2           2    Shelton High School   Charter
3           3  Hernandez High School  District
4           4    Griffin High School   Charter
5           5     Wilson High School   Charter
6           6    Cabrera High School   Charter
7           7     Bailey High School  District
8           8     Holden High School   Charter
9           9       Pena High School   Charter
10         10     Wright High School   Charter
11         11  Rodriguez High School  District
12         12    Jhonson High School  District
13         13       Ford High School  District
14         14     Thomas High School   Charter