In [ ]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to change the path if needed.)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read the School Data and Student Data and store into a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Cleaning Student Names and Replacing Substrings in a Python String
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"", regex = True)

# Check names.
student_data_df.head()

In [ ]:
school_data_df

In [ ]:
school_data_df["budget"].sum()

## Deliverable 1: Replace the reading and math scores.

### Replace the 9th grade reading and math scores at Thomas High School with NaN.

In [ ]:
# Install numpy using conda install numpy or pip install numpy. 
# Step 1. Import numpy as np.
import numpy as np

In [ ]:
# Step 2. Use the loc method on the student_data_df to select all the reading scores from the 9th grade at Thomas High School and replace them with NaN.
student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") & (student_data_df["grade"] == "9th"),"reading_score"] = np.nan

In [ ]:
#  Step 3. Refactor the code in Step 2 to replace the math scores with NaN.
student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") & (student_data_df["grade"] == "9th"), "math_score"] = np.nan

In [ ]:
student_data_df

In [ ]:
#  Step 4. Check the student data for NaN's.

In [ ]:
student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") & (student_data_df["grade"] == "9th")] = np.nan
student_data_df

## Deliverable 2 : Repeat the school district analysis

### District Summary

In [ ]:
# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df

In [ ]:
school_data_complete_df.describe()

In [ ]:
# Calculate the Totals (Schools and Students)
#school_count = school_data_complete_df.count()
school_count = len(school_data_df["school_name"].unique())
#school_count = len(school_data_complete_df["school_name"].unique())
student_count = school_data_complete_df["Student ID"].count()

# Calculate the Total Budget
total_budget = school_data_df["budget"].sum()

In [ ]:
total_budget

In [ ]:
school_data_complete_df["school_name"].unique()

In [ ]:
school_count

In [ ]:
student_count

In [ ]:
# Calculate the Average Scores using the "clean_student_data".
average_reading_score = school_data_complete_df["reading_score"].mean()
average_math_score = school_data_complete_df["math_score"].mean()

In [ ]:
average_reading_score

In [ ]:
average_math_score

In [ ]:
student_ninth_thomas = school_data_complete_df[(school_data_complete_df.school_name == "Thomas High School") & (school_data_complete_df.grade.isnull())] 
student_ninth_thomas.sum()
school_data_complete_df.isnull().sum()

In [ ]:
# Step 1. Get the number of students that are in ninth grade at Thomas High School.
# These students have no grades. 
#student_ninth_grade_count = school_data_complete_df.grade.isnull()
# student_ninth_grade_count = school_data_complete_df.grade.isnull()
#student_ninth_grade_count = school_data_complete_df.grade.isnull()
student_ninth_grade_count = school_data_complete_df[school_data_complete_df.grade.isnull()]


#planets[planets.mass.isnull()]
# school_data_complete_df.isnull().sum()
# Get the total student count 
student_count = school_data_complete_df["Student ID"].count()


# Step 2. Subtract the number of students that are in ninth grade at 
# Thomas High School from the total student count to get the new total student count.
student_ninth_thomas = len(student_ninth_grade_count)
student_ninth_thomas

In [ ]:
len(student_ninth_grade_count)

In [ ]:
student_count

In [ ]:
# Get the total student count
student_count = school_data_complete_df["Student ID"].count()
student_count

In [ ]:
school_data_complete_df

In [ ]:
# Calculate the passing rates using the "clean_student_data".
passing_math_count = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)].count()["student_name"]
passing_reading_count = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)].count()["student_name"]

In [ ]:
passing_math_count

In [ ]:
passing_reading_count

In [ ]:
# Calculating the new total student count
new_student_count = student_count - student_ninth_thomas 
new_student_count

In [ ]:
# Step 3. Calculate the passing percentages with the new total student count.
passing_math_percentage = (passing_math_count / new_student_count) * 100
passing_math_percentage

In [ ]:
passing_reading_percentage = (passing_reading_count / new_student_count) * 100
passing_reading_percentage

In [ ]:

# Calculate the students who passed both reading and math.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)
                                               & (school_data_complete_df["reading_score"] >= 70)]

# Calculate the number of students that passed both reading and math.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()


# Step 4.Calculate the overall passing percentage with new total student count.
overall_passing_percentage = overall_passing_math_reading_count / new_student_count * 100
overall_passing_percentage

In [ ]:
overall_passing_math_reading_count

In [ ]:
# Create a DataFrame
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count, 
          "Total Students": student_count, 
          "Total Budget": total_budget,
          "Average Math Score": average_math_score, 
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])



# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
# Format the "Total Budget" to have the comma for a thousands separator, a decimal separator and a "$".
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.1f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.1f}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.1f}".format)

# Display the data frame
district_summary_df

##  School Summary

In [ ]:
# Determine the School Type
per_school_types = school_data_df.set_index(["school_name"])["type"]

# Calculate the total student count.
per_school_counts = school_data_complete_df["school_name"].value_counts()

# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete_df.groupby(["school_name"]).mean()["budget"]
# Calculate the per capita spending.
per_school_capita = per_school_budget / per_school_counts

# Calculate the average test scores.
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / per_school_counts * 100
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

# Calculate the students who passed both reading and math.
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)
                                               & (school_data_complete_df["math_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the percentage of passing math and reading scores per school.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100

In [ ]:
# Create the DataFrame
per_school_summary_df = pd.DataFrame({
    "School Type": per_school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": per_overall_passing_percentage})


# per_school_summary_df.head()

In [ ]:
# Format the Total School Budget and the Per Student Budget
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

# Display the data frame
per_school_summary_df

In [ ]:
# Step 5.  Get the number of 10th-12th graders from Thomas High School (THS).
grades = ["10th","12th"]
school = ["Thomas High School"]
grades_tenth_twelve = school_data_complete_df[school_data_complete_df["grade"].isin(grades) &school_data_complete_df["school_name"].isin(school) ]
#len(grades_tenth_twelve_count)
grades_tenth_twelve_count = grades_tenth_twelve.count()
grades_tenth_twelve_count

In [ ]:
# Step 6. Get all the students passing math from THS
passing_math_count_thomas = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["school_name"] == "Thomas High School")].count()["student_name"]
passing_math_count_thomas

In [ ]:
# Step 7. Get all the students passing reading from THS
passing_reading_count_thomas = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70) & (school_data_complete_df["school_name"] == "Thomas High School")].count()["student_name"]
passing_reading_count_thomas

In [ ]:
# Step 8. Get all the students passing math and reading from THS
passing_math_reading_thomas = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70) & (school_data_complete_df["school_name"] == "Thomas High School")].count()["student_name"]
passing_math_reading_thomas

In [ ]:
# Step 9. Calculate the percentage of 10th-12th grade students passing math from Thomas High School. 
passing_math_count_thomas_2grades = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["school_name"] == "Thomas High School") & school_data_complete_df["grade"].isin(grades)].count()["student_name"]
#passing_math_count_thomas_2grades
per_passing_math_thomas_2grades = passing_math_count_thomas_2grades / grades_tenth_twelve_count * 100

#per_school_passing_math = per_school_passing_math / per_school_counts * 100
#per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

per_passing_math_thomas_2grades

In [ ]:
# Step 10. Calculate the percentage of 10th-12th grade students passing reading from Thomas High School.
passing_reading_count_thomas_2grades = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70) & (school_data_complete_df["school_name"] == "Thomas High School") & school_data_complete_df["grade"].isin(grades)].count()["student_name"]
passing_reading_count_thomas_2grades
per_passing_reading_thomas_2grades = (passing_reading_count_thomas_2grades / grades_tenth_twelve_count) * 100
per_passing_reading_thomas_2grades

In [ ]:
# Step 11. Calculate the overall passing percentage of 10th-12th grade from Thomas High School. 
overall_passing_percentage_2grades_thomas = (per_passing_math_thomas_2grades + per_passing_reading_thomas_2grades) / 2
overall_passing_percentage_2grades_thomas

In [ ]:
# Step 3. Calculate the passing percentages with the new total student count.
passing_math_percentage = (passing_math_count / new_student_count) * 100
passing_reading_percentage = (passing_reading_count / new_student_count) * 100


passing_math_percentage

In [ ]:
#Extracting the value for THG with column "% Passing Math"
per_school_summary_df.iloc[[12], per_school_summary_df.columns.get_indexer(["% Passing Math"]) ]

In [ ]:
# Step 12. Replace the passing math percent for Thomas High School in the per_school_summary_df.
per_school_summary_df["% Passing Math"].replace([per_school_summary_df.iloc[[12], per_school_summary_df.columns.get_indexer(["% Passing Math"])]],passing_math_percentage, inplace = True)

# Display the data frame
per_school_summary_df

In [ ]:
# Step 13. Replace the passing reading percentage for Thomas High School in the per_school_summary_df.

per_school_summary_df["% Passing Reading"].replace([per_school_summary_df.iloc[[12], per_school_summary_df.columns.get_indexer(["% Passing Reading"])]],passing_reading_percentage, inplace = True)

per_school_summary_df

In [ ]:
a = overall_passing_percentage_2grades_thomas["Student ID"]
a

In [ ]:
# Step 14. Replace the overall passing percentage for Thomas High School in the per_school_summary_df.
per_school_summary_df["% Overall Passing"].replace([per_school_summary_df.iloc[[12], per_school_summary_df.columns.get_indexer(["% Overall Passing"])]],a,inplace = True)

In [ ]:
# per_school_summary_df
per_school_summary_df

## High and Low Performing Schools

In [ ]:
# Sort and show top five schools.
top_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending = False)
top_schools.head(5)

In [ ]:
# Sort and show top five schools. --> You mean?: The lowest performing schools
top_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending = True)
top_schools.head()

## Math and Reading Scores by Grade

In [ ]:
school_data_complete_df.head()

In [ ]:
# Create a Series of scores by grade levels using conditionals.

ninth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]

tenth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]

eleventh_graders = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]

twelfth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]


# Group each school Series by the school name for the average math score.
ninth_grade_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_grade_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_grade_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
twelfth_grade_math_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]


# Group each school Series by the school name for the average reading score.
ninth_grade_reading_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]
tenth_grade_reading_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
eleventh_grade_reading_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
twelfth_grade_reading_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

In [ ]:
ninth_grade_math_scores

In [ ]:
# Combine each Series for average math scores by school into single data frame.
math_scores_by_grade = pd.DataFrame({
    "9th" : ninth_grade_math_scores,
    "10th" : tenth_grade_math_scores,
    "11th" : eleventh_grade_math_scores,
    "12th" : twelfth_grade_math_scores
})
math_scores_by_grade

In [ ]:
# Combine each Series for average reading scores by school into single data frame.
read_scores_by_grade = pd.DataFrame({
    "9th" : ninth_grade_reading_scores,
    "10th" : tenth_grade_reading_scores,
    "11th" : eleventh_grade_reading_scores,
    "12th" : twelfth_grade_reading_scores
})
read_scores_by_grade

In [ ]:
# Format each grade column.
math_scores_by_grade["9th"] = math_scores_by_grade["9th"].map("{:.1f}".format)
math_scores_by_grade["9th"] = math_scores_by_grade["10th"].map("{:.1f}".format)
math_scores_by_grade["9th"] = math_scores_by_grade["11th"].map("{:.1f}".format)
math_scores_by_grade["9th"] = math_scores_by_grade["12th"].map("{:.1f}".format)

read_scores_by_grade["9th"] = read_scores_by_grade["9th"].map("{:.1f}".format)
read_scores_by_grade["9th"] = read_scores_by_grade["10th"].map("{:.1f}".format)
read_scores_by_grade["9th"] = read_scores_by_grade["11th"].map("{:.1f}".format)
read_scores_by_grade["9th"] = read_scores_by_grade["12th"].map("{:.1f}".format)

#math_scores_by_grade["9th"] = math_scores_by_grade["9th"].map("{:.1f}".format)

In [ ]:
# Remove the index.
math_scores_by_grade.index.name = None

# Display the data frame
math_scores_by_grade

In [ ]:
read_scores_by_grade.index.name = None
read_scores_by_grade

## Scores by School Spending

In [ ]:
per_school_capita

In [ ]:
# Establish the spending bins and group names.
spending_bins = [0, 585, 630, 645, 675]
group_names = ["<$586", "$586-630", "$631-645", "$646-675"]

# Categorize spending based on the bins.
per_school_capita.groupby(pd.cut(per_school_capita, spending_bins)).count()


per_school_summary_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=group_names)

per_school_summary_df

In [ ]:
# Calculate averages for the desired columns. 
spending_math_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [ ]:
spending_math_scores

In [ ]:
# Create the DataFrame
spending_summary_df = pd.DataFrame({
    "Average Math Score" : spending_math_scores,
    "Average Reading Score" : spending_reading_scores,
    "% Passing Math" : spending_passing_math,
    "% Passing Reading" : spending_passing_reading,
    "% Overall Passing" : overall_passing_spending})

spending_summary_df

In [ ]:
# Format the DataFrame 

spending_summary_df["Average Math Score"] = spending_summary_df["Average Math Score"].map("{:.1f}".format)
spending_summary_df["Average Reading Score"] = spending_summary_df["Average Reading Score"].map("{:.1f}".format)
spending_summary_df["% Passing Math"] = spending_summary_df["% Passing Math"].map("{:.1f}".format)
spending_summary_df["% Passing Reading"] = spending_summary_df["% Passing Reading"].map("{:.1f}".format)
spending_summary_df["% Overall Passing"] = spending_summary_df["% Overall Passing"].map("{:.1f}".format)
spending_summary_df

#district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 999, 1999, 5000]
group_names = ["Small (<1000)", "Medium (1000-1999)", "large (2000-5000)"]

# Categorize spending based on the bins.
per_school_summary_df["School Size"] = pd.cut(per_school_summary_df["Total Students"], size_bins, labels = group_names)
per_school_summary_df

In [ ]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Math Score"]

size_reading_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Reading Score"]

size_passing_math = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Math"]

size_passing_reading = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Reading"]

size_overall_passing = per_school_summary_df.groupby(["School Size"]).mean()["% Overall Passing"]

In [ ]:
size_math_scores

In [ ]:
# Assemble into DataFrame. 
size_summary_df = pd.DataFrame({
          "Average Math Score" : size_math_scores,
          "Average Reading Score": size_reading_scores,
          "% Passing Math": size_passing_math,
          "% Passing Reading": size_passing_reading,
          "% Overall Passing": size_overall_passing})

size_summary_df

In [ ]:
# Format the DataFrame  
size_summary_df["Average Math Score"] = size_summary_df["Average Math Score"].map("{:.1f}".format)

size_summary_df["Average Reading Score"] = size_summary_df["Average Reading Score"].map("{:.1f}".format)

size_summary_df["% Passing Math"] = size_summary_df["% Passing Math"].map("{:.0f}".format)

size_summary_df["% Passing Reading"] = size_summary_df["% Passing Reading"].map("{:.0f}".format)

size_summary_df["% Overall Passing"] = size_summary_df["% Overall Passing"].map("{:.0f}".format)

size_summary_df

## Scores by School Type

In [ ]:
# Calculate averages for the desired columns. 
type_math_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Math Score"]

type_reading_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Reading Score"]

type_passing_math = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Math"]

type_passing_reading = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Reading"]

type_overall_passing = per_school_summary_df.groupby(["School Type"]).mean()["% Overall Passing"]

In [ ]:
# Assemble into DataFrame. 
type_summary_df = pd.DataFrame({
          "Average Math Score" : type_math_scores,
          "Average Reading Score": type_reading_scores,
          "% Passing Math": type_passing_math,
          "% Passing Reading": type_passing_reading,
          "% Overall Passing": type_overall_passing})

type_summary_df

In [ ]:
# Format the Data Frame
type_summary_df["Average Math Score"] = type_summary_df["Average Math Score"].map("{:.1f}".format)

type_summary_df["Average Reading Score"] = type_summary_df["Average Reading Score"].map("{:.1f}".format)

type_summary_df["% Passing Math"] = type_summary_df["% Passing Math"].map("{:.0f}".format)

type_summary_df["% Passing Reading"] = type_summary_df["% Passing Reading"].map("{:.0f}".format)

type_summary_df["% Overall Passing"] = type_summary_df["% Overall Passing"].map("{:.0f}".format)

type_summary_df

# End