In [1]:
import pandas as pd
import os

In [2]:
#IMPORT AND INSPECT CSV FILES
# Files to load

school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
# Let's learn how to change the working directory
# Import the os module
import os
# Get the current working directory
cwd = os.getcwd()
# Print the current working directory
print("Current working directory: {0}".format(cwd))

Current working directory: /Users/Fabiola/Desktop/Data/week4Anaconda/class/School_District_Analysis

In [10]:
# Let's learn how to change the working directory  This is an example, the path is of another user.
# Import the os module
import os
# Get the current working directory
cwd = os.getcwd()
# Print the current working directory
print("Current working directory: {0}".format(cwd))
# Print the type of the returned object
print("os.getcwd() returns an object of type: {0}".format(type(cwd)))
# Change the current working directory
os.chdir('d:\\Github\\Others\\DataViz-Online\\03-Lesson-Plans\\04-Pandas\\1\\Activities\\02-Ins_DataFunctions\\Solved')
# Print the new working directory
print("New working directory: {0}".format(cwd))

Current working directory: /Users/Fabiola/Desktop/Data/week4Anaconda/class/School_District_Analysis
os.getcwd() returns an object of type: <class 'str'>

FileNotFoundError: [Errno 2] No such file or directory: 'd:\\Github\\Others\\DataViz-Online\\03-Lesson-Plans\\04-Pandas\\1\\Activities\\02-Ins_DataFunctions\\Solved'

In [6]:
#/Users/Fabiola/Desktop/Data/week4Anaconda/School_District_Analysis      My paths 
#/Users/Fabiola/Desktop/Data/week4Anaconda/class/School_District_Analysis/Resources

In [9]:
# Read the school data file and store it in a Pandas DataFrame.
school_data_df = pd.read_csv(school_data_to_load)
#school_data_df = pd.read_csv('Resources/schools_complete.csv')
school_data_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [11]:
#When we want to get the indirect path to a file,
#we use os.path.join() to load a file from somewhere in our directory.


# Add the dependencies.
import pandas as pd
import os

In [12]:
# Files to load
school_data_to_load = os.path.join("Resources", "schools_complete.csv")
student_data_to_load = os.path.join("Resources", "students_complete.csv")

In [13]:
# Read the school data file and store it in a Pandas DataFrame.
school_data_df = pd.read_csv(school_data_to_load)
school_data_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [19]:
#head(), head(17), tail(), tail(8) We say if we want to display head or tail values and how many of them.
school_data_df.tail(3)

    School ID          school_name      type  size   budget
12         12  Johnson High School  District  4761  3094650
13         13     Ford High School  District  2739  1763916
14         14   Thomas High School   Charter  1635  1043130

In [22]:
# Read teh student data file
student_data_df = pd.read_csv('Resources/students_complete.csv')
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84