In [2]:
import pandas as pd
import os

In [3]:
#IMPORT AND INSPECT CSV FILES
# Files to load

school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [ ]:
# Let's learn how to change the working directory
# Import the os module
import os
# Get the current working directory
cwd = os.getcwd()
# Print the current working directory
print("Current working directory: {0}".format(cwd))

In [ ]:
# Let's learn how to change the working directory  This is an example, the path is of another user.
# Import the os module
import os
# Get the current working directory
cwd = os.getcwd()
# Print the current working directory
print("Current working directory: {0}".format(cwd))
# Print the type of the returned object
print("os.getcwd() returns an object of type: {0}".format(type(cwd)))
# Change the current working directory
os.chdir('d:\\Github\\Others\\DataViz-Online\\03-Lesson-Plans\\04-Pandas\\1\\Activities\\02-Ins_DataFunctions\\Solved')
# Print the new working directory
print("New working directory: {0}".format(cwd))

In [ ]:
#/Users/Fabiola/Desktop/Data/week4Anaconda/School_District_Analysis      My paths 
#/Users/Fabiola/Desktop/Data/week4Anaconda/class/School_District_Analysis/Resources

In [4]:
# Read the school data file and store it in a Pandas DataFrame.
school_data_df = pd.read_csv(school_data_to_load)
#school_data_df = pd.read_csv('Resources/schools_complete.csv')
school_data_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [ ]:
#When we want to get the indirect path to a file,
#we use os.path.join() to load a file from somewhere in our directory.


# Add the dependencies.
import pandas as pd
import os

In [ ]:
# Files to load
school_data_to_load = os.path.join("Resources", "schools_complete.csv")
student_data_to_load = os.path.join("Resources", "students_complete.csv")

In [ ]:
# Read the school data file and store it in a Pandas DataFrame.
school_data_df = pd.read_csv(school_data_to_load)
school_data_df

In [ ]:
#head(), head(17), tail(), tail(8) We say if we want to display head or tail values and how many of them.
school_data_df.tail(3)

In [ ]:
school_data_df

In [5]:
# Read teh student data file
student_data_df = pd.read_csv('Resources/students_complete.csv')
student_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

## COUNT method.  To count the number of rows

In [ ]:
school_data_df.count()

In [ ]:
print(school_data_df.sum()) #It sumed tha values in the rows. BUT I AM NOT SURE

In [ ]:
student_data_df.count()

## The isnull() Method.     For determining empty rows.

In [ ]:
school_data_df.isnull()

### SUM()  we use sum to count the number of rows with null values

In [ ]:
school_data_df.isnull().sum()

In [ ]:
student_data_df.isnull()

In [ ]:
student_data_df.math_score.dtype  #To see the data type of a single column which name is not separated,

In [ ]:
student_data_df["Student ID"].dtype  # To see teh data type but we use sqaure brackets because the column name is 
                         #separated (Student ID)

In [ ]:
student_data_df.dtypes

In [ ]:
school_data_df.budget.dtype #  ways to get the data type

In [ ]:
school_data_df["budget"].dtype

In [ ]:
school_data_df["budget"].dtypes

In [ ]:
student_data_df.isnull().sum()

## The notnull() Method     "True" = row or rows that are not empty. "False" = empty rows

In [ ]:
# Determine if there are not any missing values in the school data.
school_data_df.notnull()

In [ ]:
student_data_df.notnull()

In [ ]:
student_data_df.notnull().sum()

In [ ]:
school_data_df.notnull().sum()

## Data types.    name_of_the_df.dtypes.     
## Determine data types for the school DataFrame.

In [ ]:
school_data_df.dtypes

### We can also use the dtype attribute on a single column. There are two ways to perform this operation. We can use df.column.dtype if the column name doesn't have any spaces in the name, like "school_name". If there are spaces, we must use df["column"].dtype

In [ ]:
#determine the dtype for the "budget" column when there is not spaces in the name o fthe column
school_data_df.budget.dtype

In [ ]:
#determine the dtype for the "School ID" column when there is a space in the name of the column
school_data_df["School ID"].dtype

## Cleaning the student_data_df

In [10]:
# Create a prefix_suffixes list with the one´s.
prefixes_suffixes = ["Dr. ", "Mr. ", "Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [11]:
# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
# replace() method is only used in strings, so that´s why we convert the student_name into a string.
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word, "")

/Users/Fabiola/opt/anaconda3/envs/Pythondata/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  after removing the cwd from sys.path.

In [15]:
student_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75